/* 02_footer.css */
/* 아래에 코드를 작성해 주세요. */
footer{
    position:fixed; 
    left:0px; 
    bottom:0px; 
    height:60px; 
    width:100%; 
    background:grey; 
    color: white;
    text-align: center;
}
.footer-text {
    line-height: 60px;
    margin: 0px;
}